:root {
  font-family: Rubik, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  /* background: rgb(196,43,100);
  background: linear-gradient(0deg, rgba(196,43,100,1) 0%, rgba(253,29,29,1) 46%, rgba(252,176,69,1) 100%); */
  background: rgb(196,43,100);
  background: linear-gradient(45deg, rgba(196,43,100,1) 0%, rgba(253,29,29,1) 16%, rgba(252,176,69,1) 34%, rgba(211,252,69,1) 51%, rgba(69,220,252,1) 67%, rgba(180,69,252,1) 83%, rgba(196,43,100,1) 100%);
  animation: gradientBackground 10s infinite;
  background-size: 400% 400%;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  outline: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a54;
  cursor: pointer;
  transition: all 0.25s;
  border: none;
}
button:hover {
  outline: 5px solid #fff
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
